*
!README.md
!LICENSE
!install.sh
!bin/
!bin/**/*
!.bashrc
!.bash_prompt
!.inputrc
!.gitconfig
!.gitignore
!.gitignore_global
!.vimrc
!.wiki
!.tool-versions
!.ssh/
!.ssh/config
!.newsboat/
!.newsboat/config
