*
!bin/
!bin/**/*
!lib/
!lib/**/*
!src/
!.config/
!.config/user-dirs.dirs
!.config/autostart
!.config/autostart/set-display.desktop
!.config/autostart/seafile.desktop
!.config/newsboat
!.config/newsboat/config
!.config/qutebrowser
!.config/qutebrowser/config.py
!.config/git/
!.config/git/config
!.config/git/ignore
!.vim/
!.vim/scripts.vim
!.bashrc
!.inputrc
!.sbclrc
!.sqliterc
!.vimrc
!.gitignore
!LICENSE
!README.md
