*
!bin/
!bin/**/*
!lib/
!lib/**/*
!src/
!.config/
!.config/autostart
!.config/autostart/set-display.desktop
!.config/autostart/seafile.desktop
!.config/newsboat
!.config/newsboat/config
!.config/qutebrowser
!.config/qutebrowser/config.py
!.config/git/
!.config/git/config
!.config/git/.gitignore_global
!.config/xfce4/
!.config/xfce4/terminal
!.config/xfce4/terminal/terminalrc
!.ssh/
!.ssh/config
!.vim/
!.vim/scripts.vim
!.bashrc
!.inputrc
!.sbclrc
!.sqliterc
!.vimrc
!.gitignore
!LICENSE
!README.md
