[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[2ab0c6d022333bc8ef30d2e240c78a5d9cef2a7c]
row=3
col=0

[iPhone]
row=4
col=0

[Rubbish]
row=0
col=0

[/]
row=1
col=0

[/home/aron]
row=2
col=0

