[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/aron/Desktop/Repositories]
row=3
col=0

[2020-04-23-07-50-17-00]
row=4
col=0

[0084d2a3-171e-45c3-acf1-c49aa5a97e35]
row=5
col=0

[Rubbish]
row=0
col=0

[/]
row=1
col=0

[/home/aron]
row=2
col=0

